.editFile-container {
  padding: 20px 15%;
  width: 100%;
  min-height: calc(100vh - 72px);
  height: 100%;
  background: linear-gradient(170deg, #e6faff 50%, #b3f0ff 90%);
}
.edit1-call {
  border: 2px solid white;
  border-radius: 35px;
  padding: 0px 50px;
}
.edit2-call {
  margin-top: 30px;
  border: 2px solid white;
  border-radius: 15px;
  padding: 35px 50px;
}
.edit-fle-button-rows {
  justify-content: center;
  margin-bottom: 30px;
}
.change-price-wrapper {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.edit3-call {
  margin-top: 30px;
  border: 2px solid white;
  border-radius: 15px;
  padding: 35px 50px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.change-tags-wrapper {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 220px 1fr auto;
  row-gap: 15px;
  column-gap: 10px;
}
.edit-both-loader {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
