.custom-button {
  background-color: #efefef;
  border-radius: 12px;
  border: 2px solid #dcdcdc;
  padding: 8px 16px;
}
.custom-button:hover {
  background-color: #dcdcdc;
  border: 2px solid #a9a9a9;
}
