.profile-container {
  padding: 30px;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 30px 0px 0px 10%;
  background: linear-gradient(170deg, #e6faff 50%, #b3f0ff 90%);
}
.button-rows {
  display: flex;
  width: 50%;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 15px;
  padding-bottom: 40px;
}
.content-columns {
  display: grid;
  grid-template-columns: 80% 20%;
}
.right-section {
  margin-left: -300px;
  margin-right: 100px;
  font-weight: 600;
  font-size: 18px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 60px 60px 60px 60px;
}

#form-file-upload {
  height: 16rem;
  /* width: 28rem; */
  max-width: 100%;
  text-align: center;
  position: relative;
}

#input-file-upload {
  display: none;
}

#label-file-upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: #f8fafc;
}

.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  font-family: "Oswald", sans-serif;
  background-color: transparent;
}

.upload-button:hover {
  text-decoration-line: underline;
}
