.small-card-wrapper {
  width: 550px;
  height: 500px;
  background-color: #19376d;
  border-radius: 5%;
  display: grid;
  grid-template-rows: 280px 120px;
  transition: transform 0.3s ease;
}
.image-container {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  width: 550px;
  height: 300px;
  object-fit: cover;
  background-color: #a5d7e8;
  cursor: pointer;
}
.info-container {
  height: 150px;
  background-color: transparent;
  padding: 30px 24px;
  color: aliceblue;
}
.info-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}
.title {
  font-size: 16px;
  font-weight: 600;
}
.description-wrapper {
  margin-top: 12px;
  max-height: 100px;
  overflow-y: auto;
}
.small-card-wrapper:hover {
  transform: translate(0, -15px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  height: 880px;
}
.see-details {
  display: flex;
  margin-top: 10px;
  align-content: center;
  justify-content: center;
}
