.upload-file-container {
  padding: 30px;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 30px 20% 10px 20%;
  background: linear-gradient(170deg, #e6faff 50%, #b3f0ff 90%);
}
#form-file-upload {
  height: 100%;
  max-width: 100%;
  text-align: center;
  position: relative;
  margin-top: 45px;
}

#input-file-upload {
  display: none;
}

#label-file-upload {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 2px;
  border-radius: 1rem;
  border-style: dashed;
  border-color: #cbd5e1;
  background-color: #f8fafc;
}

.upload-button {
  cursor: pointer;
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  font-family: "Oswald", sans-serif;
  background-color: transparent;
}

.upload-button:hover {
  text-decoration-line: underline;
}
